<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SoftLahit_Cnie_V2._0.My.MySettings.Con" connectionString="Data Source=(localdb)\Servidor;Initial Catalog=CNIE_DDBB;Integrated Security=True" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>